<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Intutive Crafters</title>
    <link rel="stylesheet" type="text/css" href="css/myapp.css">
  </head>
  <body>
    <div id="header">
    	<nav>
    		<span style="float:left;color:#FFF;font-weight:bold;padding-left:5px;font-size:24px;" >Intuitive Crafters</span>
    		<ul>
    			<li>Home
    			</li>
    			<li>About
    			</li>
    			<li>Contact us</li>
    		</ul>
    	<nav>
    </div>

    <div id="content">
 		<h1>Training Data</h1>
        Test Data for Intuitive Crafters. <a href="#add">Predict the Tone</a><br/>
      <br/>{{{body}}}</div>
    </div>

    <div id="footer">
      &copy; Copyright 2014-2015
    </div>

    <script type="text/javascript" src="js/myapp.js"></script>
  </body>
</html>
