/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 0px 10px;
  font: 16px 'Proxima Nova Regular', 'Segoe UI', Roboto, 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
}
a {
  color: #00B7FF;
}
h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}
h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1em;
}
strong {
  font-weight: bold;
}
label {
  display: block;
  float: left;
  width: 500px;
  clear: left;
}
.clear {
  clear: both;
}
/*#content { height: 300px; }*/
.contact_small,
.contact_full {
  cursor: pointer;
  background-color: #eee;
  height: 25px;
  border: solid 1px #c0c0c0;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.contact_small:hover {
  border: solid 1px blue;
}
.contact_small img {
  float: left;
  width: 45px;
  height: 45px;
  margin-right: 5px;
}
.contact_full {
  float: none;
  height: 325px;
}
.contact_full img {
  margin-left: 5px;
}
.add_contact label {
  display: inline-block;
  width: 300px;
  float: left;
  clear: left;
}
#output {
  margin-top: 2em;
  font-size: .9em;
  border: solid 1px #c0c0c0;
  background-color: #f0f0f0;
  padding: 5px;
}
#output li {
  margin-left: 30px;
  list-style-type: decimal;
}
table {
  display: table;
  border-collapse: collapse !important;
  border-spacing: 2 !important;
  /*border-color: gray !important;*/
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  background-color: #f1f1f1 !important;
  width: 15%;
}
th {
  color: #ffffff;
  background-color: #555555;
  border: 1px solid #555555;
  padding: 3px;
  vertical-align: top;
  text-align: left;
  cursor: pointer;
}
td {
  display: table-cell;
  border: 1px solid #d4d4d4;
  padding: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: top;
}
/* Header
-----------------------------------------------------------------------------*/
#header {
  background: #2b3443 /*#f00060*/;
}
#header nav {
  width: 100%;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
#header nav ul {
  list-style: none;
  padding: 10px;
  margin-bottom: 0;
}
#header nav ul li {
  display: inline;
  margin-left: 1%;
  color: #FFF;
}
#header nav ul li a {
  background: #fc9200;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  display: inline-block;
  padding: 5px 15px 6px;
  color: #fff;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
#header nav ul li a:hover {
  background-color: #db0d5f;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
  color: #666;
  border-top: 1px solid #ccc;
  padding-top: 1px.5em;
}
#footer ul {
  list-style: none;
}
#js-boilerplate-app {
  margin: 0 40px;
}
