<div class="add_preference" style="padding-bottom:20px;">
    <label for="role">Role:</label> 
    <input type="radio" id="role" name="role" value="c_level" checked/> C-Level &nbsp;
    <input type="radio" id="role" name="role" value="mid_mgmt"  /> Mid Mgmt &nbsp;
    <input type="radio" id="role" name="role" value="sr_mgmt" /> Sr Mgmt &nbsp;
    <input type="radio" id="role" name="role" value="vp" /> VP &nbsp;
    <br/>	<br/>
    <label for="ivy">Ivy College:</label> <input type="checkbox" id="ivy" name="ivy" /><br/><br/>
    <label for="wr_style">Writing Style:</label> <input type="radio" id="wr_style" name="wr_style" value="concise" checked /> Concise &nbsp;
    <input type="radio" id="wr_style" name="wr_style" value="simple"  /> Simple &nbsp;
    <input type="radio" id="wr_style" name="wr_style" value="verbose" /> Verbose &nbsp;
    <br/><br/>
    <label for="industry">Industry:</label> 
    <input type="text" id="industry" />
   	 	
    <br/>
     <label for="risklevel">Risk Level:</label> 
     <select name="risklevel" id="risklevel">
     	<option value="10">10</option>
     	<option value="9">9</option>
     	<option value="8">8</option>
     	<option value="7">7</option>
     	<option value="6">6</option>
     	<option value="5">5</option>
     	<option value="4">4</option>
     	<option value="3">3</option>
     	<option value="2">2</option>
     	<option value="1">1</option>
     </select> 
    <br/>
    <label for="sentto">Sent to:</label>
	    <input type="radio" id="sentto" name="sentto" value="team" checked/> Team &nbsp;
	    <input type="radio" id="sentto" name="sentto" value="peer" /> Peers &nbsp;
	    <input type="radio" id="sentto" name="sentto" value="higher" /> Higher ups &nbsp;
    <br/><br/>
    <a href="/"><< Back</a> | <a href="#" class="save-button">Predict Tone</a>

</div>
