<style>
div {display:block;}

</style>

<div class="add_preference" style="padding-bottom:20px;">
	
    <div class="emotional_info">
    	<h1>Emotional Quotient:</h1>
		<table width="100%" border="1" cellspacing="0" cellpadding="2" style="background-color:#fff !important;">
			<tbody>
				<tr>
					<th colspan="2">Questions</td>
					<th width="58" align="center"><font class="qte_question_number">Completely true</font></th>
					<th width="58" align="center"><font class="qte_question_number">Mostly<br>true</font></th>
					<th width="58" align="center"><font class="qte_question_number">Somewhat true/false</font></th>
					<th width="58" align="center"><font class="qte_question_number">Mostly<br>false</font></th>
					<th width="58" align="center"><font class="qte_question_number">Completely false</font></th>
				</tr>
				<tr class="qte_answer_2">
					<td class="qte_question_number" nowrap="" valign="top" width="1">1.&nbsp;</td>
					<td valign="top">I adjust my behavior depending on who I am interacting with (e.g. calm and friendly with a peer, commanding with my team, serious and professional with my boss, etc.).</td>
					
					<td align="center"><input type="radio" name="eq1" value="1"></td>
					
					
					<td align="center"><input type="radio" name="eq1" value="2"></td>
					
					
					<td align="center"><input type="radio" name="eq1" value="3"></td>
					
					
					<td align="center"><input type="radio" name="eq1" value="4"></td>
					
					
					<td align="center"><input type="radio" name="eq1" value="5"></td>
					
					
					
				</tr>
				
				<tr class="qte_answer_1">
					<td class="qte_question_number" nowrap="" valign="top" width="1">2.&nbsp;</td>
					<td valign="top">I tend to postpone or avoid discussing touchy topics.</td>
					
					<td align="center"><input type="radio" name="eq2" value="1"></td>
					
					
					<td align="center"><input type="radio" name="eq2" value="2"></td>
					
					
					<td align="center"><input type="radio" name="eq2" value="3"></td>
					
					
					<td align="center"><input type="radio" name="eq2" value="4"></td>
					
					
					<td align="center"><input type="radio" name="eq2" value="5"></td>
					
					
					
				</tr>

				<tr class="qte_answer_2">
					<td class="qte_question_number" nowrap="" valign="top" width="1">3.&nbsp;</td>
					<td valign="top">I find myself feeling nervous about situations or events, and I don't even know why.</td>
					
					<td align="center"><input type="radio" name="eq3" value="1"></td>
					
					
					<td align="center"><input type="radio" name="eq3" value="2"></td>
					
					
					<td align="center"><input type="radio" name="eq3" value="3"></td>
					
					
					<td align="center"><input type="radio" name="eq3" value="4"></td>
					
					<td align="center"><input type="radio" name="eq3" value="5"></td>
					
					
				</tr>
				
				
				<tr class="qte_answer_1">
					<td class="qte_question_number" nowrap="" valign="top" width="1">4.&nbsp;</td>
					<td valign="top">If asked to list my top three strengths, I would have hard time coming up with them.</td>
					
					<td align="center"><input type="radio" name="eq4" value="1"></td>
					
					<td align="center"><input type="radio" name="eq4" value="2"></td>
					<td align="center"><input type="radio" name="eq4" value="3"></td>
					<td align="center"><input type="radio" name="eq4" value="4"></td>
					<td align="center"><input type="radio" name="eq4" value="5"></td>
					
				</tr>
								
				<tr class="qte_answer_2">
					<td class="qte_question_number" nowrap="" valign="top" width="1">5.&nbsp;</td>
					<td valign="top">When I see grammatical mistakes in an email, I feel compelled to let the person know, and ensure it is fixed.</td>
					
					<td align="center"><input type="radio" name="eq5" value="1"></td>
					<td align="center"><input type="radio" name="eq5" value="2"></td>
					<td align="center"><input type="radio" name="eq5" value="3"></td>
					<td align="center"><input type="radio" name="eq5" value="4"></td>
					<td align="center"><input type="radio" name="eq5" value="5"></td>
					
				</tr>
				
				
				<tr class="qte_answer_1">
					<td class="qte_question_number" nowrap="" valign="top" width="1">6.&nbsp;</td>
					<td valign="top">Once a pessimistic thought pops into my head, it's like a floodgate opens - my thoughts get more and more negative.</td>
					
					<td align="center"><input type="radio" name="eq6" value="1"></td>
					<td align="center"><input type="radio" name="eq6" value="2"></td>
					<td align="center"><input type="radio" name="eq6" value="3"></td>
					<td align="center"><input type="radio" name="eq6" value="4"></td>
					<td align="center"><input type="radio" name="eq6" value="5"></td>
				</tr>
	
				<tr class="qte_answer_2">
					<td class="qte_question_number" nowrap="" valign="top" width="1">7.&nbsp;</td>
					<td valign="top">I like learning new things. </td>
					
					<td align="center"><input type="radio" name="eq7" value="1"></td>
					<td align="center"><input type="radio" name="eq7" value="2"></td>
					<td align="center"><input type="radio" name="eq7" value="3"></td>
					<td align="center"><input type="radio" name="eq7" value="4"></td>
					<td align="center"><input type="radio" name="eq7" value="5"></td>
				</tr>
				
			</tbody>
		</table>	
	</div>

	<br/>
    <a href="/"><< Back</a> | <a href="#" class="predict-eq-button">Predict EQ</a>
    <br/>

</div>
